.sidebar {
  margin-right: 1rem;
  
  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: var(--spacing-sm);
    order: 2;
  }
}

.button {
  width: 100%;
  margin: 0 0 var(--spacing-sm) 0;
}
