.icon {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  // filter: drop-shadow(0px 0px 4px rgb(42, 156, 255));
}

.small {
  width: 16px;
  height: 16px;
}

.medium {
  width: 24px;
  height: 24px;
}

.large {
  width: 32px;
  height: 32px;
}
