@use '@/styles/variables' as *;

.header {
  background: var(--background-color-light);
  box-shadow: var(--shadow-medium);
  padding: var(--spacing-sm);

  @media (max-width: 768px) {
    padding: var(--spacing-xs);
  }
}

.logo,
.headerContent,
.headerWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.headerWrapper {
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    gap: var(--spacing-xs);
  }
}

.logoTitle {
  font-size: var(--font-size-m);
  font-weight: 600;
  margin: 0;

  @media (max-width: 768px) {
    font-size: var(--font-size-base);
  }
}

.date {
  display: flex;
  align-items: center;
}

.currentDate {
  padding: var(--spacing-sm);
  font-size: var(--font-size-m);
  font-weight: 700;

  @media (max-width: 768px) {
    padding: var(--spacing-xs);
    font-size: var(--font-size-base);
  }
}

.button {
  padding: var(--spacing-xxs) var(--spacing-sm);
  align-items: center;
}

.user {
  margin-left: var(--spacing-xl);
  font-size: var(--font-size-s);

  @media (max-width: 768px) {
    margin-left: var(--spacing-sm);
    font-size: var(--font-size-xs);
  }
}
