@use '@/styles/variables' as *;

.header {
  background: var(--background-color-light);
  box-shadow: var(--shadow-medium);
  padding: var(--spacing-sm);

  @media (max-width: 768px) {
    padding: var(--spacing-xs);
  }
}

.logo,
.headerContent,
.headerWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.headerWrapper {
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.headerContent {
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.logoIcon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: var(--spacing-xs);
  transition: transform 0.2s ease-in-out;

  @media (max-width: 768px) {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.logoTitle {
  font-size: var(--font-size-m);
  font-weight: 600;
  margin: 0;

  @media (max-width: 768px) {
    font-size: var(--font-size-base);
  }
}

.date {
  display: flex;
  align-items: center;
}

.currentDate {
  padding: var(--spacing-sm);
  font-size: var(--font-size-m);
  font-weight: 700;

  @media (max-width: 768px) {
    padding: var(--spacing-xs);
    font-size: var(--font-size-base);
  }
}

.button {
  padding: var(--spacing-xxs) var(--spacing-sm);
  align-items: center;

  @media (max-width: 768px) {
    margin: var(--mobile-spacing-sm);
    font-size: var(--mobile-font-size-base);
  }
}

.user {
  margin: 0 var(--spacing-xl);
  font-size: var(--font-size-s);

  @media (max-width: 768px) {
    margin-top: var(--spacing-xs);
    font-size: var(--mobile-font-size-base);
  }
}
